@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@import '@fontsource/fira-mono';
@import "tw-animate-css";
@import "shadcn-svelte/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

:root {
	--font-body:
		Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
	--background:
		oklch(1 0 0);
	--foreground:
		oklch(0.145 0 0);
	--card:
		oklch(1 0 0);
	--card-foreground:
		oklch(0.145 0 0);
	--popover:
		oklch(1 0 0);
	--popover-foreground:
		oklch(0.145 0 0);
	--primary:
		oklch(0.205 0 0);
	--primary-foreground:
		oklch(0.985 0 0);
	--secondary:
		oklch(0.97 0 0);
	--secondary-foreground:
		oklch(0.205 0 0);
	--muted:
		oklch(0.97 0 0);
	--muted-foreground:
		oklch(0.556 0 0);
	--accent:
		oklch(0.97 0 0);
	--accent-foreground:
		oklch(0.205 0 0);
	--destructive:
		oklch(0.577 0.245 27.325);
	--border:
		oklch(0.922 0 0);
	--input:
		oklch(0.922 0 0);
	--ring:
		oklch(0.708 0 0);
	--chart-1:
		oklch(0.87 0 0);
	--chart-2:
		oklch(0.556 0 0);
	--chart-3:
		oklch(0.439 0 0);
	--chart-4:
		oklch(0.371 0 0);
	--chart-5:
		oklch(0.269 0 0);
	--radius:
		0.625rem;
	--sidebar:
		oklch(0.985 0 0);
	--sidebar-foreground:
		oklch(0.145 0 0);
	--sidebar-primary:
		oklch(0.205 0 0);
	--sidebar-primary-foreground:
		oklch(0.985 0 0);
	--sidebar-accent:
		oklch(0.97 0 0);
	--sidebar-accent-foreground:
		oklch(0.205 0 0);
	--sidebar-border:
		oklch(0.922 0 0);
	--sidebar-ring:
		oklch(0.708 0 0);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image:
		radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 100%),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.dark {
	--background:
		oklch(0.145 0 0);
	--foreground:
		oklch(0.985 0 0);
	--card:
		oklch(0.205 0 0);
	--card-foreground:
		oklch(0.985 0 0);
	--popover:
		oklch(0.205 0 0);
	--popover-foreground:
		oklch(0.985 0 0);
	--primary:
		oklch(0.922 0 0);
	--primary-foreground:
		oklch(0.205 0 0);
	--secondary:
		oklch(0.269 0 0);
	--secondary-foreground:
		oklch(0.985 0 0);
	--muted:
		oklch(0.269 0 0);
	--muted-foreground:
		oklch(0.708 0 0);
	--accent:
		oklch(0.269 0 0);
	--accent-foreground:
		oklch(0.985 0 0);
	--destructive:
		oklch(0.704 0.191 22.216);
	--border:
		oklch(1 0 0 / 10%);
	--input:
		oklch(1 0 0 / 15%);
	--ring:
		oklch(0.556 0 0);
	--chart-1:
		oklch(0.87 0 0);
	--chart-2:
		oklch(0.556 0 0);
	--chart-3:
		oklch(0.439 0 0);
	--chart-4:
		oklch(0.371 0 0);
	--chart-5:
		oklch(0.269 0 0);
	--sidebar:
		oklch(0.205 0 0);
	--sidebar-foreground:
		oklch(0.985 0 0);
	--sidebar-primary:
		oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground:
		oklch(0.985 0 0);
	--sidebar-accent:
		oklch(0.269 0 0);
	--sidebar-accent-foreground:
		oklch(0.985 0 0);
	--sidebar-border:
		oklch(1 0 0 / 10%);
	--sidebar-ring:
		oklch(0.556 0 0);
}

@theme inline {
	--font-sans:
		'Geist Variable', sans-serif;
	--color-sidebar-ring:
		var(--sidebar-ring);
	--color-sidebar-border:
		var(--sidebar-border);
	--color-sidebar-accent-foreground:
		var(--sidebar-accent-foreground);
	--color-sidebar-accent:
		var(--sidebar-accent);
	--color-sidebar-primary-foreground:
		var(--sidebar-primary-foreground);
	--color-sidebar-primary:
		var(--sidebar-primary);
	--color-sidebar-foreground:
		var(--sidebar-foreground);
	--color-sidebar:
		var(--sidebar);
	--color-chart-5:
		var(--chart-5);
	--color-chart-4:
		var(--chart-4);
	--color-chart-3:
		var(--chart-3);
	--color-chart-2:
		var(--chart-2);
	--color-chart-1:
		var(--chart-1);
	--color-ring:
		var(--ring);
	--color-input:
		var(--input);
	--color-border:
		var(--border);
	--color-destructive:
		var(--destructive);
	--color-accent-foreground:
		var(--accent-foreground);
	--color-accent:
		var(--accent);
	--color-muted-foreground:
		var(--muted-foreground);
	--color-muted:
		var(--muted);
	--color-secondary-foreground:
		var(--secondary-foreground);
	--color-secondary:
		var(--secondary);
	--color-primary-foreground:
		var(--primary-foreground);
	--color-primary:
		var(--primary);
	--color-popover-foreground:
		var(--popover-foreground);
	--color-popover:
		var(--popover);
	--color-card-foreground:
		var(--card-foreground);
	--color-card:
		var(--card);
	--color-foreground:
		var(--foreground);
	--color-background:
		var(--background);
	--radius-sm:
		calc(var(--radius) * 0.6);
	--radius-md:
		calc(var(--radius) * 0.8);
	--radius-lg:
		var(--radius);
	--radius-xl:
		calc(var(--radius) * 1.4);
	--radius-2xl:
		calc(var(--radius) * 1.8);
	--radius-3xl:
		calc(var(--radius) * 2.2);
	--radius-4xl:
		calc(var(--radius) * 2.6);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}
